body{
    background-color:skyblue;
}
.aligning
{
    margin-top: 70px;
    margin-top: 20px;
}
#imagebutton
{
    position:relative;
    
    left:-10px;
    top:-8px;
    margin-bottom: 15px;
}

#results h5
{
    text-align: center;
    color:black;
    
}

